@import '../variables';

.footer {
  height: @footer-height;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @background-color;
}

.footer-airport-name {
  text-align: center;
}

.footer-airport-name img {
  max-width: 100%;
}
