@import '../variables';

.header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: @header-height;

}

.header-back-button {
  float: left;
  font-size: 1em;
  margin: 17px;
  overflow: hidden;
}

.header-logo {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
}

.header-logo img {
  max-width: 80%;
  max-height: 20px;
  margin-top: 16px;
}

.header-profileicon {
  float: right;
  margin: 10px;
}
