@import '../variables';

.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(39, 64, 89, 0.1);
  z-index: 10 !important;
  padding: 0.5em 3em;
  align-items: center;
  @media (max-width: 400px) {
    padding: 0.5em .5em;
  }
}

.header-back-button {
  font-size: 1em;
  overflow: hidden;
}

.questionmark-button {
  border: none;
  background: rgba(255, 255, 255, 0);
  padding-right: 0;
  img {
    cursor: pointer;
  }
}

.listQuestion {
  margin-left: 6em;
  width: 60%;
  color: #6b8299;
  @media (max-width: 500px) {
    margin-left: 1.5em;
  }
}

.listOrQuestion a {
  margin-right: 3em;
  color: #6b8299;
  @media (max-width: 635px) {
    margin-right: 1em;
    display: block;
  }
}

.listOrQuestion a:hover {
  text-decoration: none;
  border-bottom: 3px solid #0095b3;
  color: #0095b3;
  padding-bottom: 1em;
}

.listOrQuestion a:active {
  text-decoration: none;
  color: #0095b3;
  border-bottom: 3px solid #0095b3;
  padding-bottom: 1em;
}

.header-logo img {
  max-height: 50px;
  margin-top: 0;
  fill: #96a7bb;
}

.markProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: calc(40%);
}

.header-profileicon-username {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #6b8299;
  line-height: 1.14;
  width: 63px;
  height: 16px;
  font-family: Roboto;
  text-decoration: none;
  @media (max-width: 600px) {
    display: none;
  }
}

.header-profileicon a {
  margin-right: .5em;
}

.borderLine {
  border-right: 1px solid #96a7bb;
}