.image-selection {
  max-width: 450px;
}

.image-selection-preview {
  clear: both;
}

.image-selection-preview img {
  width: 80%;
  max-width: 400px;
}

.image-selection-button {
  padding: 3px;
  float: left;
}

.image-selection-button-cancel {
  overflow: hidden;
}
