.titleWithX {
    display: flex;
    justify-content: space-between;
}

.xhover {
    color: #6b8299;
}

.replyContainer {
    background-color: #f2f9fa;
    height: 2.5em;
    border-radius: 20px;
}

.replyBtn {
    color: #0095b3;
    background: transparent;
    border: none;
}

.replyBtn:hover {
    background: transparent;
    border: none;
    color: #0095b3;
}

.answerInput {
    height: 2.5em;
    background: #f2f9fa;
}

.answerInput:focus {
    background-color: #f2f9fa;
}
