

.waitlist-item {
  overflow: hidden;
}

.waitlist-item-avatar {
  float: left;
  margin: 5px;
};

.waitlist-item-data {

};

.waitlist-item-data-1 {
  float: none;
};

.waitlist-item-data-2 {
  font-size: 1.5em;
};

.waitlist-item-data-name {
  font-size: 1.0em;
  float: none;
};

.waitlist-item-data-timeleft {
  font-size: 0.8em;
  float: right;
  position: relative;
};
