@import '../variables';

.waitlist-item-parent {
  background-color: #ffffff;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);
  border-radius: 4px;
}

.waitlist-item {
  display: flex;
  flex-direction: row;
  @media (max-width: 460px) {
    flex-direction: column;
  }
}

.waitlistFirst {
  display: flex;
  flex-grow: 1;
}

.waitlistSecond {
  display: flex;
  justify-content: center;
}

.waitlist-item-avatar-contacted {
  border: 2px solid #0095b3;
  background-color: transparent;
  border-radius: 50%;
  height: fit-content;
}

.waitlist-item-unread {
  display: flex;
  font-size: 15px;
  max-width: 150px;
}

.waitlist-item-avatar {
  padding: 5px;
}

.waitlist-item-avatar-img {
  width: 80px;
  height: 80px;
  @media (max-width: 600px) {
    width: 40px;
    height: 40px;
  }
}

.endorseBox {
  margin: 0 0.2em;
}

.waitlist-item-actions {
  display: flex;
  @media (max-width: 600px) {
    
  }
}

.waitlist-item-actions li {
  list-style-type: none;
}

.waitlist-item-data {
  margin-left: 1em;
}

.waitlist-item-data-interests {
  font-size: 16px;
  margin-left: 0.3em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  color: #6b8299;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.waitlist-item-data-address {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 116px;
  margin-bottom: 0px;
  color: #a3b3bf;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}
.waitlist-item-data-backing {
  font-size: 10px;
  color: #a3b3bf;
}

.waitlist-item-data-name {
  font-size: 20px;
  color: #212c30;
  margin: 0px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
  
}

.waitlist-item-button {
  border: none;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #6b8299;
  background-color: transparent;
  border-radius: 24px;
  padding: 0.5em 1em;
}

.waitlist-item-button:hover {
  background-color: #f2f9fa;
}

.waitlist-item-table tr {
  border: none;
}

.waitlist-item-table td {
  padding: 1px;
  vertical-align: top;
  font-size: 11px;
  text-align: center;
  border: none;
}
.waitlist-item-table th {
  padding: 1px;
  vertical-align: top;
  font-size: 11px;
  text-align: center;
  border: none;
}
.waitlist-item-table {
  background: #e4dcda;
  color: #0062c3;
}

.table thead th {
  border-bottom: 1px solid white !important;
}

.text-location {
  margin-left: 6.5em;
  border-top: 1px solid rgba(150, 167, 187, 0.2);
  @media (max-width: 600px) {
    margin-left: 0;
    margin-top: .5em;
  }
}

.quoteText {
  margin-top: 1em;
}

.quoteText,
.locationBox {
  display: flex;
}

.icons {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  fill: #6b8299 !important;
}

.chatFriend {
  margin-right: 0;
  fill: #6b8299 !important;
}

.locationText {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #6b8299;
  border-radius: 16px;
  border: solid 1px #c3cfd9;
  padding: .5em .5em;
  margin: 0 .3em;
  @media (max-width: 600px) {
    font-size: 10px;
  }
}
