@import './variables';

.main {
  min-height: 100%;
  position: relative;
}

.app-container {
  height: 100vh;
  position: relative;
  background-color: #f2f9fa;
}

.app-content {
  padding-top: (@header-height + 10);
  @media (max-width: 600px) {
    //   padding-top: (@header-height + @location-header-height + 10);
  }
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f2f9fa;
  min-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
