@import './variables';

.app-container {
  height: 100vh;
}

.app-content {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 100%; 
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .app-content {
    margin-top: 40px;
  }
}
