/* Colors Background - Text - Alerts */
@background: #f2f9fa; /* Background */
@blue: #0095b3; /* TealBlue */
@green: #14cc70; /* SuccessGreen */
@red: #ff3333; /* ErrorRed */
@yellow: #f5b222; /* WarningYellow */
@grey: #6b8299; /* GreyParagraph */
@black: #212c30; /* BlackTitle */
@boxColor: #ffffff; /* ColorBoxWaitlist */

/* Border - Box Shadow */
@borderRadius: 4px;
@boxShadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);

/* Input Login/SignUp color */
@inputBorder: solid 2px #c3cfd9;

/* Active Link Border Bottom */
@borderBottom: 3px solid rgb(0, 149, 179);

/* Font */
@font: 'Roboto', sans-serif;
@h3: 24px;
@h3Weight: 600;
@p: 16px;

/* Line Between Contents */

@borderTop: 1px solid rgba(150, 167, 187, 0.2);