@import '../variables';

.chat {
  margin-top: 50px;
  padding: 0 5em;
}

.chat-content {
  padding-bottom: 50px;
  padding-right: 10px;
}

.chat-chat-input {
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
