.profile {
  text-align: center;
}

.profile-button {
  padding: 3px;

}

.logo-profile {
    position: absolute;
    left: 25px;
    padding-right: 1px;
}

.profile-button-save {
  margin: 0 auto;
  display: inline-block;

}

.profile-button-logout {
  display: inline-block;
}

.profile-waytcoin-symbol {
  margin: 10px;
  img {
    height: 22px
  }
}

.profile-contract-address {
  font-size: 5px;
}
