.profile {
  text-align: center;
}

.profile-button {
  padding: 3px;
}

.profile-button-save {
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;

}

.profile-button-logout {
  display: inline-block;
}

.profile-waytcoin-symbol {
  margin: 10px;
  img {
    height: 22px
  }
}

.profile-eth-adress {
  font-size: 14px;
  font-style: italic;
}
