.profile {
  text-align: center;
}

.profile-button {
  margin: .5em 0;
}

.logo-profile {
  position: absolute;
  left: 25px;
  padding-right: 1px;
}

.profile-waytcoin-symbol {
  margin: 10px;
  img {
    height: 22px;
  }
}

.info-text {
  margin-top: .5em;
}

.profile-contract-address {
  font-size: 5px;
}

.username-profile,
.profile-eth-adress {
  text-align: center;
}

.ethAddress{
    display: inline-grid;
  }

.profile-token-curve,
.user-info-profile {
  border: 2px solid orange;
  margin-bottom: .1em;
}

.tokenField{
  margin-right: .5em;
}

.info-graph {
  margin-top: 1.5em;
}

.get-price-button {
  margin-right: .5em;
}

.get-price-button span{
  font-size: 12px!important;
}

.buy-button span {
  font-size: 12px!important;
}

.read-this {
  margin-top: 1.5em;
}

.buttonBox {
  margin: .5em 0;
}