@import '../variables';

.formContainer {
  padding: 0 3.6em;
  @media (max-width: 600px) {
    padding: 0 1em;
  }
}

.formGroup {
  margin-top: 2.5em;
  padding: 1em 1.5em;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);
  margin-bottom: 2px;
}

.questionBtn {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: none;
  background-color: #0095b3;
  float: right;
}

.form-control {
  border-radius: 1.25rem;
  border: none;
}

.formLink {
  box-shadow: 0 1px 0 0 rgba(36, 43, 51, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  padding-top: 11px;
  background-color: #f2f9fa;
}

.navLink {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 3.6em;
  @media (max-width: 800px) {
    padding: 0;
  }
}

.navLink a {
  color: #6b8299;
  border-bottom: none;
  padding-bottom: 1.2em;
  margin-right: 2em;
  margin-left: 2em;
  @media (max-width: 450px) {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

.navLink a:hover {
  text-decoration: none;
  border-bottom: 3px solid #0095b3;
  color: #0095b3;
  padding-bottom: 1em;
}

.qnaActive {
  text-decoration: none;
  color: #0095b3;
  border-bottom: 3px solid #0095b3;
  padding-bottom: 1.2em;
  @media (max-width: 635px) {
    padding-bottom: 0;
  }
}

.headPost {
  box-shadow: 0 1px 0 0 rgba(36, 43, 51, 0.1);
}

.headPost p,
.nameUpdate p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 2em;
  padding-top: 0.3em;
  letter-spacing: normal;
  color: #8899a6;
}

.nameUpdate h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #212c30;
}

.nameUpdate p {
  padding-bottom: 0;
  padding-top: 0;
}

.imgText {
  padding: 0 2em;
}

.imgBox img {
  color: rgb(255, 255, 255);
  background-color: rgb(188, 188, 188);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17.5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 1em;
}

.answerBtn {
  box-shadow: 0 -5px 1px -4px rgba(36, 43, 51, 0.1);
  padding: 1.3em 0;
  margin-top: 2em;
  margin-bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.question h4,
.answerBtn p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  color: #6b8299;
}
