@import '../variables';

.registrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.textBox {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #6b8299;
  margin-top: 0;
}

.textBox h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #212c30;
}

.registrationBox {
  width: 496px;
  height: 570px;
  padding: 3em;
  padding-top: 1em;
  margin-bottom: 1.5em;
  border-radius: @borderRadius;
  background-color: @boxColor;
  box-shadow: @boxShadow;
}

.registrationBox input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: solid 2px #c3cfd9;
  margin-bottom: 0.7em;
}

.registrationBox input::placeholder {
  color: #c3cfd9;
}

.registrationBox input:focus {
  border-color: #0095b3;
}

.registrationBox button {
  width: 100%;
  height: 48px;
  margin-top: 0.6em;
  margin-bottom: 2em;
  border-radius: 24px;
  background-color: #0095b3;
  border: none;
}

.registrationBox button:hover {
  background-color: #0095b3;
}

.recoverBox {

}

.arrowBox {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -11px;
  border-radius: 50%;
}

.arrowBox:hover {
  background-color: rgba(0, 149, 179, 0.05);
}

.arrowBox svg {
  cursor: pointer;
}

.signinBox {
  border-top: @borderTop;
  padding-top: 1.5em;
}

.signinBox p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0;
  color: #6b8299;
}

.signinBox a {
  font-weight: 600;
  color: #0095b3 !important;
  text-decoration: none;
  cursor: pointer;
}

.topCircular {
  position: relative;
  top: -9em;
}

@media only screen and (max-width: 600px) {
  .registrationContainer {
    margin-top: 40px;
  }
  .registrationBox {
    width: 100%;
    height: 600px;
    padding: 2em;
    padding-top: 1em;
    margin-bottom: 1.5em;
  }
  .textBox h3 {
    font-size: 22px;
  }
  .signinBox p {
    font-size: 11px;
}
}