@import '../variables';

.signupContainer {
  display: flex;
  justify-content: center;
}

.signupBox {
  width: 496px;
  height: auto;
  padding: 3em;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(33, 44, 48, 0.15);
}